
@media screen and (min-width: 1200px){
    html {
        font-size: 1.1rem;
    }

    .box-form-info {
        display: flex;
        justify-content: space-between;
    }

    main {
        flex-basis: 45%;
    }

    aside {
        flex-basis: 45%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-basis: 25%;
    }
    
    footer div {
        flex-basis: 30%;
    }

}

